.song{

    font-family: Georgia, 'Times New Roman', Times, serif;

}

.directions{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(229, 241, 244);
    

}
.directions:hover{
    color:blue;
    background-color: aquamarine;
}

.name{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.speech{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.AP{
color:black;
}
.DIA{
color:brown;
}

