.song{

    font-family: Georgia, 'Times New Roman', Times, serif;

}

.directions{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(229, 241, 244);
    

}
.directions:hover{
    color:blue;
    background-color: aquamarine;
}

.name{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.speech{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.AP{
color:black;
}
.DIA{
color:brown;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    background-color: aqua;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

